.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background-image: url('./assets/carousel-1.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  height: 100%; 
  display: flex;
  flex-direction: column; 
}


body {
  background-color: rgba(0, 0, 0, 0.3); /* Dark overlay for readability */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1; /* Allow main content to grow and take up available space */
}

footer {
  margin-top: auto; /* Ensure footer sticks to the bottom */
}
