/* Footer Styles */
.footer {
    background-color: #333; /* Background color */
    color: #fff;
    padding: 15px; /* Reduced padding */
    text-align: center;
    width: 100%;
    position: relative; /* Ensure it stays at the bottom */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 900px; /* Reduced max-width for more compact layout */
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 8px; /* Reduced padding */
}

.footer-section h3,
.footer-section h4 {
    font-size: 1em; /* Smaller heading size */
}

.footer-section p,
.footer-section a {
    font-size: 0.7em; /* Smaller text size for paragraph and links */
}

.footer-bottom {
    background-color: #222;
    padding: 2px; /* Reduced padding */
    font-size: 10px; /* Smaller font size */
}

.social-media a {
    margin: 5px; /* Reduced margin */
    color: #fff;
    text-decoration: none;
}

.social-media a:hover {
    color: #00acee; /* Hover effect */
}

/* Make the footer stick to the bottom of the page */
body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure full height */
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%; /* Flex container to fill the entire height */
}

main {
    flex-grow: 1; /* Main content will take up the remaining space */
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
}
