.hero {
    position: relative;
    background-image: url('../assets/carousel-1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.hero-content {
    z-index: 2;
    padding: 20px;
}

h1, h2, p {
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    margin-top: 10px;
}

.highlight {
    color: #FF9900; /* Highlight color */
}

.cta-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #FF9900;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #cc7a00;
}
