.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #80d3ee;
  padding: 10px 20px;
}
 
.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}
 
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}
 
.navbar-menu li {
  cursor: pointer;
  position: relative;
}
 
.dropdown-menu {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: rgba(253, 253, 253, 0.959);
  border: 1px solid #ddd;
  padding: 10px;
  display: none;
  list-style: none;
  min-width: 150px;
}
 
.dropdown-menu li {
  margin: 5px 0;
  cursor: pointer;
}
 
.dropdown-menu.show {
  display: block;
}
 
.dropdown:hover .dropdown-menu {
  display: block;
}